#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "kimai2"
name = "Kimai2"
description.en = "Multi-user application for time-tracking with support for mobile devices"
description.fr = "Application multi-utilisateurs de suivi du temps compatible avec les appareils mobiles"
description.de = "Eine web-basierte Mehrbenutzer-Zeiterfassung mit Rechnungsdruck mit Unterstützung für mobile Endgeräte"
description.cs = "Víceuživatelská webová aplikace pro sledování času s podporou mobilních zařízení"

version = "2.15.0~ynh1"

maintainers = [""]

[upstream]
license = "MIT"
website = "https://www.kimai.org"
demo = "https://www.kimai.org/demo/"
admindoc = "https://www.kimai.org/documentation/"
code = "https://github.com/kevinpapst/kimai2"
cpe = "cpe:2.3:a:kimai:kimai_2"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = true

sso = false

disk = "50M"
ram.build = "500M"
ram.runtime = "80M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.registration]
    ask.en = "Are new users allowed to register?"
    ask.fr = "Est-ce que de nouveaux utilisateurs peuvent s'y inscrire ?"
    ask.de = "Sollen sich neue Benutzer selber registrieren können ?"
    ask.cs = "Mohou se noví uživatelé registrovat?"
    type = "boolean"
    default = false

[resources]
    [resources.sources.main]
    url = "https://github.com/kevinpapst/kimai2/archive/refs/tags/2.15.0.tar.gz"
    sha256 = "f61c50d3d426922bc6533768ccfa51b428b82506c8fbade4534ff0daf6ccd334"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false
    # Non-web, LDAP groups
    teamlead.allowed = ""
    admin.allowed = "admins"
    super_admin.allowed = "admins"

    [resources.apt]
    packages = [
        "php8.1-gd",
        "php8.1-intl",
        "php8.1-json",
        "php8.1-mbstring",
        "php8.1-pdo",
        "php8.1-zip",
        "php8.1-xml",
        "php8.1-xsl",
        "php8.1-ldap",
        "php8.1-mysql",
        "php8.1-sqlite3",
        "mariadb-server",
    ]

    [resources.database]
    type = "mysql"
